@import "tailwindcss";

:root {
  --primary: #10b981;
  --secondary: #3b82f6;
  --background: #0f172a;
  --foreground: #f8fafc;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-200 antialiased;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}